<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>js循环渲染数据</h2>
    <ul>
        <%for(var i=0;i<list.length;i++){%>
        <li><%=list[i]%></li>
        <%}%>
    </ul>
    <h2>绑定html数据</h2>
    <br>
    <%=content%>
    <br >
    <!--解析h2-->
    <%-content%>
    <!--if语句-->
    -->
    <%if(num>24){%>
        大于二十四
    <%}else{%>
        小于二十四
    <%}%>
    <br>
    <h2><%=userinfo%></h2>
</body>
</html>